@import "tailwindcss";

@theme {
  --font-sans: var(--font-epilogue);
  --font-mono: var(--font-geist-mono);
}

@utility card-clean {
  @apply bg-white border border-gray-200 rounded-2xl shadow-sm;
}

@layer base {

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }

  body {
    @apply bg-gray-50 text-gray-950 antialiased selection:bg-gray-200 selection:text-gray-900;
  }
}